<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Streamify | Live Stream</title>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>

    <!-- Template Stream CSS File -->
    <link href="static/css/stream/styles.css" rel="stylesheet">

    <!-- Favicons -->
    <link href="static/img/live.png" rel="icon">
    <link href="static/img/live.png" rel="apple-touch-icon">
</head>

<body>
    <h2>Stream Room</h2>


    <div id="screen" class="screen"></div>
    <div id="publisher"></div>
    <div id="subscribers"></div>

    <div id="textchat">
        <p id="history"></p>
        <form id="form">
            <input type="text" placeholder="Input your text here" id="msgTxt"></input>
        </form>
    </div>

    <button id="startScreenShare" style="display: inline;">Share Screen</button>
    <button id="stopScreenShare"  style="display: none">Stop Sharing Screen</button>

    <script type="text/javascript">
        var apiKey = '{{ api_key }}';
        var sessionId = '{{ session_id }}';
        var token = '{{ token }}';
    </script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>